# macos 
.DS_Store
.DS_Store?


# 
book.pdf
.git/

# python cache
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

#*.png
#*.pdf

# virtual environments and packaging metadata
.venv/
*.egg-info/
